In [1]:
import pandas as pd

In [6]:
pip install pyreadstat           # works on DataHub; wheels are pre‑built

Requirement already satisfied: pyreadstat in /srv/conda/lib/python3.11/site-packages (1.2.8)
Requirement already satisfied: pandas>=1.2.0 in /srv/conda/lib/python3.11/site-packages (from pyreadstat) (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in /srv/conda/lib/python3.11/site-packages (from pandas>=1.2.0->pyreadstat) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /srv/conda/lib/python3.11/site-packages (from pandas>=1.2.0->pyreadstat) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /srv/conda/lib/python3.11/site-packages (from pandas>=1.2.0->pyreadstat) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /srv/conda/lib/python3.11/site-packages (from pandas>=1.2.0->pyreadstat) (2025.2)
Requirement already satisfied: six>=1.5 in /srv/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pyreadstat) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
df = pd.read_stata("tab5v1.dta")
df.head()

,id,vouch0,sex,svy,age,hsvisit,strata1,strata2,strata3,strata4,...,dmonth12,bog95,bog97,mom_age,mom_mw,dad_age,dad_mw,sex2,stratams,age2
0,4.0,0.0,1.0,0.0,14.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,36.0,0.0,43.0,0.0,1.0,0.0,12.0
1,21.0,1.0,1.0,0.0,14.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,45.0,1.0,50.0,1.0,1.0,0.0,12.0
2,25.0,0.0,0.0,1.0,17.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,47.0,0.0,50.0,0.0,0.0,0.0,14.0
3,39.0,1.0,1.0,0.0,14.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,42.0,0.0,NaN,NaN,0.0,0.0,12.0
4,41.0,0.0,0.0,0.0,17.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,33.0,0.0,37.0,0.0,0.0,0.0,14.0

In [3]:
df = pd.read_stata("tab7test.dta")
df.head()

,id,t_site,totalpts,tsite1,tsite2,tsite3,vouch0,sex,svy,age,...,strata2,strata3,strata4,strata5,strata6,mom_sch,dad_sch,dad_miss,mom_miss,usesch
0,140.0,3.0,0.998492,0.0,0.0,1.0,1.0,NaN,0.0,14.0,...,1.0,0.0,0.0,0.0,0.0,3.0,2.0,0.0,0.0,1.0
1,236.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0,13.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
2,293.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0,14.0,...,1.0,0.0,0.0,0.0,0.0,7.0,0.0,1.0,0.0,1.0
3,914.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0,14.0,...,0.0,0.0,0.0,0.0,0.0,9.0,0.0,1.0,0.0,1.0
4,962.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0,15.0,...,0.0,1.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,1.0

ValueError: magic number mismatch (not a SAS file?)